tws/963.3m/tws-stable-standalone-linux-x64.sh filter=lfs diff=lfs merge=lfs -text
tws/963.3o/tws-stable-standalone-linux-x64.sh filter=lfs diff=lfs merge=lfs -text
tws/972.1e/tws-latest-standalone-linux-x64.sh filter=lfs diff=lfs merge=lfs -text
